@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*{
	font-family: 'Roboto', sans-serif;
}

.center{
	width: 100%;
	text-align: center;
}

/* Nice-ish stylings */
.btn {
    font-weight: 500;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.btn-white {
    border: 1px solid white;
    color: white;
}
.btn-blue {
    border: 1px solid #32A8CE;
    color: #32A8CE;
    background-color: white;
}
.btn-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 1px 2px;
    text-shadow: 0 2px 3px rgba(0,0,0,0.8), 0 1px 2px;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    opacity: 0.6;
}